# Web Framework
fastapi
uvicorn

# Database
sqlalchemy
pymysql
python-dotenv

# Authentication & Security
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]

# Validation
pydantic[email]
